/* *{
    background-image: url(./img/bg2.jpg);
    background-repeat: no-repeat;
} */
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
/* font-family: 'Freehand', cursive; */

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

.myFont {
  font-family: "Fredoka One", cursive;
  font-size: 26px;

  /* background-color: #3f4e4fa4; */
}

.myFont1 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;

  /* background-color: #3f4e4fa4; */
}
